html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: rgb(44, 58, 129);
  background-attachment: fixed;
  background-image: url("./img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
/*NavBar*/
.navbar{
  background-color: black;
}
.card{
  margin-top: 2%;
 }
.card-img-top{
  height: 180px;
  width: 250px;
}

.nav-link.active {
  color: #bf1919 !important;
}

.logo-img{
  height: 5rem;
  width: auto;
  margin-left: 1rem;
  border-radius: 5px;
  }


/*CARDS*/ 
h1{
  color: whitesmoke;
}
label{
  color: whitesmoke;
}
Button{
 display: inline;
 margin-top: 10px;
 margin-inline: auto;
}

.cardimage {
  margin: auto;
  padding: 10px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
}

.postbox{
  padding: 15px;
  margin-top:7%;
  margin-left: 200px;
  justify-content: space-around;
  width: 80%;
  text-justify: distribute-all-lines;
  color:whitesmoke;
  border-radius: var(--bs-card-border-radius);
}
input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  justify-content: space-around;
}


.editcard {
  margin-bottom: 20px;
  padding: 18px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  justify-content: center;
  width: 100%;
  text-justify: center;
  color: whitesmoke;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  margin-left: 25rem;
}

.postcard{
  padding: 15px;
  margin-left: 55%;
  justify-content: space-around;
  width: 80%;
  text-justify: distribute-all-lines;
  color:whitesmoke;


}
.card-img-top{
  padding: 10px;
}
.footer{
  text-justify: auto;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  color:whitesmoke;
  position: fixed;

  bottom: 0;
 
 }


.abautcard{
  justify-content: space-around;
  margin:30% 30% 20% 100%;
  width: 200%;
  justify-content: space-around;
  text-justify: distribute-all-lines;
  color:whitesmoke
}
.cardtext{
  color:whitesmoke
}
.editbox{
  padding: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px; /* Espacio entre las tarjetas */
  align-items: center !important;
  text-justify: center!important;
  margin-inline-start: 15%;
  margin-top: 5%;
  
}
card-footer {

  color: whitesmoke !important;
 
}
@media (max-width: 768px) {
  .card-row {
    justify-content: center; /* Centra las tarjetas en dispositivos pequeños */
  }
}

/*PAGINATION*/
.pagination {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  color: #353030;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #353030;
}

.pagination li a:hover {
  background-color: #f5f5f5;
}

.pagination .previous a,
.pagination .next a {
  font-weight: bold;
}

.pagination .active a {
  background-color:  #353030;
  color: #fff;
}

.pagination .disabled a {
  opacity: 0.5;
  cursor: not-allowed;
  color: #fff;
}
