html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: rgb(44, 58, 129);
  background-attachment: fixed;
  background-image: url("./img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
/*NavBar*/
.navbar{
  background-color: black;
}
.card{
  margin-top: 2%;
 }
.card-img-top{
  height: 180px;
  width: 250px;
}

.nav-link.active {
  color: #bf1919 !important;
}

.logo-img{
  height: 5rem;
  width: auto;
  margin-left: 1rem;
  border-radius: 5px;
  }


/*CARDS*/ 
h1{
  color: whitesmoke;
}
label{
  color: whitesmoke;
}
Button{
 display: inline;
 margin-top: 10px;
 margin-inline: auto;
}
.card-footer{
  color:whitesmoke
}
.cardimage{
 margin: auto;
 padding: 10px;
}
.postbox{
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-around;
  width: 80%;
  text-justify: distribute-all-lines;
  color:whitesmoke;
  border-radius: var(--bs-card-border-radius);
}
input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  justify-content: space-around;
}
.editcard {
  padding: 15px;
  margin-left: 150%;
  justify-content: space-around;
  width: 80%;
  text-justify: distribute-all-lines;
  color:whitesmoke;
  border-radius: var(--bs-card-border-radius);

}
.postcard{
  padding: 15px;
  margin-left: 55%;
  justify-content: space-around;
  width: 80%;
  text-justify: distribute-all-lines;
  color:whitesmoke;
  border-radius: var(--bs-card-border-radius);

}
.footer{
  text-justify: auto;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  color:whitesmoke;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
 }

.abautcard{
  justify-content: space-around;
  margin:30% 30% 20% 100%;
  width: 200%;
  justify-content: space-around;
  text-justify: distribute-all-lines;
  color:whitesmoke
}
.cardtext{
  color:whitesmoke
}
.editbox{
  padding: 15px;
  margin-left: 15%;
  margin-right: 15%;
}
.card{
  margin-inline: 5px;
}
/*PAGINATION*/
.pagination {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  color: #353030;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #353030;
}

.pagination li a:hover {
  background-color: #f5f5f5;
}

.pagination .previous a,
.pagination .next a {
  font-weight: bold;
}

.pagination .active a {
  background-color:  #353030;
  color: #fff;
}

.pagination .disabled a {
  opacity: 0.5;
  cursor: not-allowed;
  color: #fff;
}
