html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: rgb(44, 58, 129);
  background-attachment: fixed;
  background-image: url("./img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  background-color: black;
}
.card{
  margin-top: 2%;
 
}
.card-img-top{
  height: 180px;
  width: 250px;
}
.custom-navbar {
  background-color: black;
}

.custom-navbar .nav-link {
  color: red;
}

.custom-navbar .active {
  text-decoration: underline red;
}
